<h2>{{(artist) ? artist.name : ''}} Releases</h2>
<div>
  <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
<div>
  <ul>
    <li
      *ngFor="let release of releases | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
      <div><a routerLink="/release/{{release.id}}">{{release.title}}</a></div>
      <ngx-json-viewer [json]="release" [expanded]="false"></ngx-json-viewer>
    </li>
  </ul>
</div>a