<div *ngIf="entity">
  <!--
  <div>
    <button (click)="import()">import</button>
    <button (click)="reset()">reset</button>
  </div>
  -->
  <h2>{{ entity.title }}</h2>
  <div *ngIf="entity['artist_credit']">
    <span> by </span>
    <a routerLink="/artist/{{entity['artist_credit'][0].artist.id}}">
      <div>
        <h3>{{ entity['artist_credit'][0].name }}</h3>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/release-group/{{entity.id}}/releases">
      <div>
        <h4>Releases</h4>
      </div>
    </a>
  </div>
  <div>
    <h3>Releases</h3>
    <div *ngFor="let release of entity['releases']">
      <a routerLink="/release/{{ release.id }}">
        <h3>{{ release.title }}
          {{ (release.disambiguation) ? ' - ' + release.disambiguation : '' }}</h3>
      </a>
      <!--
      <div *ngFor="let medium of release['media']">
        <div *ngIf="release['media'].length > 1">
          Disc {{ medium.position}} <strong>{{ medium.title || '' }}</strong>
        </div>
      </div>
      <br />
      -->
    </div>
  </div>
  <ngx-json-viewer [json]="entity" [expanded]="false"></ngx-json-viewer>
</div>