<div *ngIf="entity">
  <div>
    <!--
      <button (click)="lookupMbz()">Lookup MusicBrainz</button>
    -->
    <button (click)="importMbz()">Import MusicBrainz</button>
    <button (click)="fetchLFM()">Fetch LastFM</button>
    <button (click)="saveLFM()">Save LastFM</button>
    <button (click)="fetchCAA()">Fetch CoverArt Archive</button>
    <button (click)="saveCAA()">Save CoverArt Archive</button>
    <button (click)="lookup()">Lookup MongoDB</button>
    <button (click)="reset()">Reset MongoDB</button>
  </div>
  <h2>{{ entity.name }}</h2>
  <div>
    <div *ngFor="let image_url of entity['images']">
      <img src="{{ image_url }}" />
    </div>
  </div>
  <div>
    <h4>Similar Artists</h4>
    <div
      *ngFor="let similarArtist of entity['similar_artists'] | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
      <div>
        <a routerLink="/artist/{{similarArtist.id}}">
          <img width="75px" src="{{ similarArtist.image_url }}" />
          <div>{{ similarArtist.name }}</div>
        </a>
      </div>
    </div>
  </div>
  <div>
    <a routerLink="/artist/{{entity.id}}/release-groups">
      <div>
        <h4>Release Groups</h4>
      </div>
    </a>
  </div>
</div>
<ngx-json-viewer [json]="entity" [expanded]="false"></ngx-json-viewer>