<div *ngIf="entity">
  <!--
    <div>
      <button (click)="lookupMbz()">Lookup MusicBrainz</button>
    <button (click)="importMbz()">Import MusicBrainz</button>
    <button (click)="fetchLFM()">Fetch LastFM</button>
    <button (click)="saveLFM()">Save LastFM</button>
    <button (click)="fetchCAA()">Fetch CoverArt Archive</button>
    <button (click)="saveCAA()">Save CoverArt Archive</button>
    <button (click)="lookup()">Lookup MongoDB</button>
    <button (click)="reset()">Reset</button>
  </div>
-->
  <h2>{{ entity.name }}</h2>
  <div *ngIf="entity.lastFM">
    <div *ngIf="entity.lastFM.megaImage">
      <img src="{{ entity.lastFM.megaImage }}" />
    </div>
  </div>
  <div *ngIf="entity.lastFM">
    <div *ngIf="entity.lastFM.biography">
      <div>{{ entity.lastFM.biography.summaryHTML }}</div>
    </div>
  </div>
  <!--
  <div>
    <div>
      <a routerLink="/{{entityName | lowercase}}/{{ entity.id }}">
        <div *ngFor="let image of entity['images']">

          <div *ngIf="image['size'] == 'large'">
            <img src="{{ image['url'] }}" />
          </div>
        </div>
        <div><span>{{ entity.name }}</span></div>
      </a>
    </div>
  </div>
  <div>
    <h3>Release Groups</h3>
    <div *ngFor="let releaseGroup of entity['release_groups']">
      <a routerLink="/release-group/{{ releaseGroup.id }}">
        <h3>{{ releaseGroup.title }}
          {{ (releaseGroup.disambiguation) ? ' - ' + releaseGroup.disambiguation : '' }}</h3>
      </a>
    </div>
  </div>
  -->
  <div>
    <h4>Similar Artists</h4>
    <div *ngIf="entity.lastFM">
      <div *ngFor="let similarArtist of entity.lastFM.similarArtists.similarArtists | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
        <div>
          <a routerLink="/artist/{{ similarArtist.mbid || 'no mbid' }}">
            <div *ngIf="similarArtist.image">
              <img width="65px" src="{{ similarArtist.image }}" />
            </div>
            <div><span>{{ similarArtist.name }}</span></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a routerLink="/artist/{{entity.mbid}}/release-groups">
      <div>
        <h4>Release Groups</h4>
      </div>
    </a>
  </div>
  <ngx-json-viewer [json]="entity" [expanded]="false"></ngx-json-viewer>-->
</div>