<!--<app-artist-search></app-artist-search>-->
<h3>Top Artists</h3>
<div class="grid grid-pad">
  <div *ngFor="let artist of artists">
    <div *ngIf="artist['mbid']">
      <div>
        <a routerLink="/artist/{{artist.mbid}}">
          <div *ngFor="let image of artist['image']">
            <div *ngIf="image['size'] == 'small'">
              <img src="{{ image['#text'] }}" />
            </div>
          </div>
          <div>{{ artist.name }}</div>
        </a>
      </div>
      <ngx-json-viewer [json]="artist" [expanded]="false"></ngx-json-viewer>
    </div>
  </div>
</div>