<h2>Artists</h2>
<div>
  <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
<ul>
  <li *ngFor="let entity of artists | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
    <div>
      <a routerLink="/artist/{{ entity.mbid }}">
        <!-- <div *ngFor="let image of entity['images']">
          <div *ngIf="image['size'] == 'small'">
            <img src="{{ image['url'] }}" />
          </div>
        </div> -->
        <div *ngIf="entity.lastFM">
          <img src="{{ entity.lastFM.mediumImage }}" />
        </div>
        <div><span>{{ entity.name }}</span></div>
      </a>
    </div>
    <ngx-json-viewer [json]="entity" [expanded]="false"></ngx-json-viewer>
  </li>
</ul>