<h2>{{(artist) ? artist.name : ''}} Release Groups</h2>

<div class="has-text-centered">
	<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
	<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
<ul class="release-groups">
	<li *ngFor="let releaseGroup of releaseGroups | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
		<div><span></span><a routerLink="/release-group/{{releaseGroup.id}}">{{releaseGroup.title}}</a></div>
    </li>
</ul>
<button (click)="goBack()">go back</button>
<ngx-json-viewer [json]="releaseGroups" [expanded]="false"></ngx-json-viewer>